<form method="POST" action="{% url 'change_password' %}">
    {% csrf_token %}
    <div class="modal fade" id="change_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-content-login-back">
                <div class="modal-content-login">
                    <div class="modal-body text-center mr-5 ml-5">
                    <p style="font-weight: bold;font-size: larger; color:var(--bg-purple);">Change password</p>
                        <div class="row pt-2">
                            <div class="col-sm-3 font-italic align-text-bottom username">Password:</div>
                            <div class="col"><input type="password" class="form-control input-box"
                                    name="password" ></div>
                        </div>
                        <div class="row align-items-center mt-3">
                            <div class="col-sm-3 font-italic align-text-bottom username">Password Confirm:</div>
                            <div class="col"><input type="password" class="form-control input-box"
                                    name="password_confirm" ></div>
                        </div>
                        <button type="submit" class="btn btn-login mt-3">Change</button>
                    </div>
                    <input type="hidden" name="next">
                </div>
            </div>
        </div>
    </div>
</form>