{% extends "base.html" %}
{% block content %}
<label class="h2 text-uppercase font-weight-bold" style="margin-bottom: 30px;">
	activated
	<label class="is-uppercase is-size-4" style="margin-bottom: 30px;color: #924BE7;">camp</label>
</label>
<style>
	.card {
		background-color: var(--bg-aside);
		border-radius: 25px;
		border: 2px solid #707070;
		/* height: 194px; */
		width: 100%;
	}

	.image-camp {
		border: 1.9px solid white;
		/* margin: 2px; */
	}

	.pic_camp {
		max-width: 70%;
		height: auto;
	}

	.card-body {
		padding: 0;
	}

	.head {
		font-size: 12px;
	}

	.modal-content-reg-camp {
		border-radius: 30px;
		border: 1px solid #924BE7;
		background-color: rgba(146, 75, 231, 0.1);
		color: white;
	}

	.modal-background {
		background-color: rgba(0, 0, 0, 0.8) !important;
	}
</style>
{% for camp in camps %}
	{% if forloop.counter|divisibleby:2 == 0 %}
		<div class="row mt-3"> 
	{% endif %}
		<div class="col" data-toggle="modal" data-target="#exampleModalCenter" onclick="modal({{ camp.id }})" style="cursor:pointer;">	
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="{{ request.META.HTTP_NAME }}/media/{{ camp.logo }}" class="pic_camp m-3 rounded-circle mx-auto d-block" id="pic{{ camp.id }}">
					</div>
					<div class="col-md-7">
						<div class="card-body mt-3">
							<h5 class="card-title font-weight-bold h3" id="name{{ camp.id }}">{{ camp.name }}</h5>
							<em>
								<p class="card-text" id="desc{{ camp.id }}">{{ camp.desc }}</p>
								<label class="text-uppercase head font-weight-bold"> Responsible person :
									<label class="text-uppercase" style="color: #10FF28;" id="head{{ camp.id }}">
										{{ camp.head.first_name }}
									</label>
								</label>
							</em>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% if forloop.counter|divisibleby:2 == 1 %}
	</div>
	{% endif %}
{% endfor %}</div>

<!-- <div class="row">
	<div class="col" data-toggle="modal" data-target="#exampleModalCenter" style="cursor:pointer;">
		<div class="card">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="/media/camp/St2.png" alt="" class="pic_camp m-3 rounded-circle mx-auto d-block">
				</div>
				<div class="col-md-7">
					<div class="card-body mt-3">
						<h5 class="card-title font-weight-bold h3">To Be IT 62</h5>
						<em>
							<p class="card-text">Alice is a freelance web designer and developer based in London. She is
								specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
							<label class="text-uppercase head font-weight-bold"> Responsible person :
								<label class="text-uppercase" style="color: #10FF28;">
									Jakkrapat Suwannoo
								</label>
							</label>
						</em>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col" data-toggle="modal" data-target="#exampleModalCenter" style="cursor:pointer;">
		<div class="card">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="/media/camp/St2.png" alt="" class="pic_camp m-3 rounded-circle mx-auto d-block">
				</div>
				<div class="col-md-7">
					<div class="card-body mt-3">
						<h5 class="card-title font-weight-bold h3">To Be IT 62</h5>
						<em>
							<p class="card-text">Alice is a freelance web designer and developer based in London. She is
								specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
							<label class="text-uppercase head font-weight-bold"> Responsible person :
								<label class="text-uppercase" style="color: #10FF28;">
									Jakkrapat Suwannoo
								</label>
							</label>
						</em>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="modal fade modal-background" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content modal-content-reg-camp">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">To Be IT 62</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<img src="/media/camp/St2.png" class="pic_camp m-3 mx-auto d-block" id="modal_pic">
				<p class="card-text" id="modal_desc">Alice is a freelance web designer and developer based in London. She is
					specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
				<label class="text-uppercase head font-weight-bold"> Responsible person :
					<label class="text-uppercase" style="color: #10FF28;" id="modal_head">
						Jakkrapat Suwannoo
					</label>
				</label>
			</div>
		</div>
	</div>
</div>

<script>
	function modal (id) {
		name = document.getElementById('name'+id).innerHTML;
		pic = document.getElementById('pic'+id);
		desc = document.getElementById('desc'+id).innerHTML;
		head = document.getElementById('head'+id).innerHTML;
		document.getElementById('exampleModalLongTitle').innerHTML = name;
		document.getElementById('modal_pic').src = pic.src;
		document.getElementById('modal_desc').innerHTML = desc;
		document.getElementById('modal_head').innerHTML = head;
	}
</script>

{% endblock %}

{% comment %} {% block footer %}
Footer of Login page!!!
{% endblock %} {% endcomment %}