<style>
    .modal {
        color: black;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content-login {
        border-radius: 30px;
        border: 1px solid #924BE7;
        background-color: rgba(146, 75, 231, 0.1);
        color: white;
    }
    .modal-content-login-back {
        border-radius: 30px;
        background-color: var(--bg-gray);
    }

    .input-box {
        background-color: rgba(146, 75, 231, 0);
        border: 1px solid #924BE7;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        /* border-bottom: 5; */
        color: white;

    }

    .input-box:focus {
        background-color: rgba(146, 75, 231, 0);
        color: white;
    }

    .username {
        margin: 0;
        padding-top: 10px;
    }

    .btn-login {
        border: 1px solid #5D3794;
        background-color: #7654A7;
        color: white;
        border-radius: 11px;
        width: 130px;
    }

    .btn-login:hover {
        background-color: #7654A7;
        color: white;
    }

    .form-control:focus {
        border-bottom: 1.5px solid rgb(194, 150, 255);
        box-shadow: none;
    }
</style>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-content-login-back">
                <div class="modal-content-login">
                    <div class="modal-body text-center mr-5 ml-5">
                        <img src="/media/logo.png" class="mt-5">
                        <p>Role and Duty Management System</p>
                        <div class="row pt-4">
                            <div class="col-sm-3 font-italic align-text-bottom username">Username:</div>
                            <div class="col"><input type="text" class="form-control input-box" id="username"
                                    name="username" value="{{username}}"></div>
                        </div>
                        <div class="row align-items-center mt-3">
                            <div class="col-sm-3 font-italic align-text-bottom username">Password:</div>
                            <div class="col"><input type="password" class="form-control input-box" id="password"
                                    name="password" value="{{password}}"></div>
                        </div>
                        <button type="submit" class="btn btn-login mt-5">LOG IN</button>
                        <p style="font-size: 10px;color: #686868;" class="mt-3">Doesn't have account yet ? <a
                                style="color: #5D3794;" href="{% url 'register' %}">Register</a></p>
                    </div>
                    <input type="hidden" name="next" value="{{ request.path }}">
                </div>
            </div>
        </div>
    </div>
</form>