{% extends "base.html" %} {% load static %} {% block content %}
<button type="button" class="btn btn-success" onclick="fill()">Fill</button>
<style>
    .modal {
        color: black;
        background-color: var(--bg-gray);
    }

    .modal-content {
        border-radius: 30px;
        border: 1px solid #924BE7;
        background-color: rgba(146, 75, 231, 0.05);
        color: white;
    }

    .input-box {
        background-color: rgba(146, 75, 231, 0);
        border: 1px solid #924BE7;
        color: white;
        padding-top: 10% !important;
        padding-left: 5% !important;
    }

    .input-box:focus {
        background-color: rgba(146, 75, 231, 0);
        color: white;
    }

    .username {
        margin: 0;
        padding-top: 10px;
    }

    .btn-login {
        border: 1px solid #5D3794;
        background-color: #7654A7;
        color: white;
        border-radius: 11px;
        width: 130px;
    }

    .btn-login:hover {
        background-color: var(--bg-purple);
        color: white;
    }

    .modal-dialog {
        height: 40vh;
        max-width: 900px;
    }

    .col {
        padding-left: 0;
    }

    .col-md-auto {
        padding-right: 0;
    }

</style>
{% comment %} <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-5">
                <p>REGISTER FORM</p>
                <table class="Aligner">
                    <tr>
                        <th class="align-bottom">
                            <div class="col-md-auto text-left">
                                Username :
                            </div>
                        </th>
                        <th>
                            <div class="col Aligner ml-1">
                                <input type="text" class="form-control input-box">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th class="align-bottom">
                            <div class="col-md-auto text-left">
                                Password :
                            </div>
                            
                        </th>
                        <th>
                            <div class="col ml-1">
                                <input type="text" class="form-control input-box">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th class="align-bottom">
                            <div class="col-md-auto text-left">
                                Password Confirm :
                            </div>
                            
                        </th>
                        <th>
                            <div class="col ml-1">
                                <input type="text" class="form-control input-box">
                            </div>
                        </th>
                    </tr>
                </table>
                <!-- <div class="row">
                    <div class="col-md-auto Aligner">
                        Username :
                    </div>
                    <div class="col Aligner">
                        <input type="text" class="form-control input-box">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-auto Aligner">
                        Password :
                    </div>
                    <div class="col">
                        <input type="text" class="form-control input-box">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-auto Aligner">
                        Password Confirm :
                    </div>
                    <div class="col">
                        <input type="text" class="form-control input-box">
                    </div>
                </div> -->
            </div>
            <input type="hidden" name="next" value="{{ request.path }}">
        </div>
    </div>
</form> {% endcomment %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col">
            <label for="inputEmail4">Username:</label>
            {{ form.username }}
            {% for error in form.username.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col">
            <label for="inputPassword4">Password:</label>
            {{ form.password1 }}
            {% for error in form.password1.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col">
            <label for="inputPassword4">Password confirm:</label>
            {{ form.password2 }}
            {% for error in form.password2.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputEmail4">Student ID:</label>
            {{ form.sid }}
            {% for error in form.sid.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col-md-2">
            <label for="inputEmail4">Sex:</label>
            {{ form.sex }}
            {% for error in form.sex.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col">
            <label for="inputPassword4">First name</label>
            {{ form.first_name }}
            {% for error in form.first_name.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col">
            <label for="inputPassword4">Last name</label>
            {{ form.last_name }}
            {% for error in form.last_name.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputEmail4">Nickname:</label>
            <input type="text" class="form-control" placeholder="ชื่อเล่น" required name="nick_name">
        </div>
        <div class="form-group col-md-2">
            <label for="inputEmail4">Phone:</label>
            {{ form.phone }}
            {% for error in form.phone.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col">
            <label for="inputPassword4">Email:</label>
            {{ form.email }}
            {% for error in form.email.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="col form-row">
            <div class="form-group col">
                <label for="inputPassword4">Birthday:</label>
                <input type="date" class="form-control" required name="birthday">
            </div>
            <div class="form-group col">
                <label for="inputPassword4">Religion:</label>
                <select id="inputState" class="form-control" name="religion">
                    <option value="buddha">พุทธ</option>
                    <option value="christ">คริสต์</option>
                    <option value="islamic">อิสลาม</option>
                    <option value="other">อื่นๆ/ไม่ระบุ</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col">
            <label for="inputPassword4">Blood type:</label>
            <select name="blood_type" class="form-control">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="AB">AB</option>
                <option value="O">O</option>
            </select>
        </div>
        <div class="form-group col">
            <label class="label">Food allergy</label>
            <input class="form-control" type="text" placeholder="อาหารที่แพ้" name="food_allergy">
        </div>
        <div class="form-group col">
            <label class="label">Congenital disease:</label>
            <input class="form-control" type="text" placeholder="โรคประจำตัว" name="congenital_disease">
        </div>
        <div class="form-group col">
            <label class="label">Shirt size:</label>
            <select name="shirt_size" class="form-control">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
        </div>
        <div class="form-group col">
            <label class="label">Upload Profile:</label>
            <div class="custom-file mb-3">
                {{ form.profile_pic }}
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                ยอมรับข้อตกลง
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
<script>
    function fill() {
        document.getElementById('id_username').value = 'ongsuwannoo'
        document.getElementById('id_password1').value = 'ABCD_123456789'
        document.getElementById('id_password2').value = 'ABCD_123456789'
        document.getElementById('id_first_name').value = 'First'
        document.getElementById('id_last_name').value = 'Last'
        document.getElementById('id_email').value = 'admin@admin.com'
        document.getElementById('id_phone').value = '0824200568'
        document.getElementById('id_sid').value = '61070022'
    }

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });


    $("#id_username").change(function () {
        console.log($(this).val());
    });


</script>
{% endblock %}