{% extends "base.html" %}
{% load static %}
{% block content %}
<button type="button" class="btn btn-success" onclick="fill()">Fill</button>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css'%}">
<form method="POST" action="{% url 'register' %}" enctype="multipart/form-data" class="phase1">
    {% csrf_token %}
    <div class="modal-dialog modal-reg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-reg">
            <div class="modal-body text-center p-5">
                <p style="font-weight: bold;font-size: larger; color:var(--bg-purple);">REGISTER FORM</p>
                <table class="Aligner" style="display: grid;" id="step1">
                    <tr height="50">
                        <th class="">
                            <div class="col-md-auto text-left">
                                Username :
                            </div>
                        </th>
                        <th>
                            <div class="col Aligner ml-1" data-toggle="username" data-html="true" data-placement="right"
                                title="
                                {% for error in form.username.errors %}
                                    <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                                ">
                                {{ form.username }}
                            </div>
                        </th>
                    </tr>
                    <tr height="50">
                        <th class="">
                            <div class="col-md-auto text-left">
                                Password :
                            </div>
                        </th>
                        <th>
                            <div class="col ml-1" data-toggle="password1" data-html="true" data-placement="right"
                                title="
                            {% for error in form.password1.errors %}
                            <div class='text-danger'>
                                {{error}}<br/>
                                </div>
                            {% endfor %}
                            ">
                                {{ form.password1 }}
                            </div>
                        </th>
                    </tr>
                    <tr height="50">
                        <th class="">
                            <div class="col-md-auto text-left">
                                Password Confirm :
                            </div>
                        </th>
                        <th>
                            <div class="col ml-1" data-toggle="password2" data-html="true" data-placement="right"
                                title="
                                {% for error in form.password2.errors %}
                            <div class='text-danger'>
                            
                                {{error}}<br/>
                                </div>
                            {% endfor %}
                            ">
                                {{ form.password2 }}
                            </div>
                        </th>
                    </tr>
                    <tr height="50">
                        <th class="">
                            <div class="col-md-auto text-left">
                                Email :
                            </div>
                        </th>
                        <th>
                            <div class="col ml-1" data-toggle="email" data-html="true" data-placement="right"
                                title="
                                {% for error in form.email.errors %}
                                <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                                {{ form.email }}
                            </div>
                        </th>
                    </tr>
                </table>

                <div class="" style="display: none;" id="step2">
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="">
                                ชื่อ :
                            </div>
                        </div>
                        <div class="col-sm-3" data-toggle="first_name" data-html="true" data-placement="right"
                                title="
                                {% for error in form.first_name.errors %}
                                <div class='text-danger'>
                                    {{error}}<br/>
                                </div>
                                {% endfor %}">
                            <div class="">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="">
                                นามสกุล :
                            </div>
                        </div>
                        <div class="col-sm-3" data-toggle="last_name" data-html="true" data-placement="right"
                                title="
                                {% for error in form.last_name.errors %}
                                    <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                            <div class="">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="">
                                รหัสนักศึกษา :
                            </div>
                        </div>
                        <div class="col-sm" data-toggle="sid" data-html="true" data-placement="right"
                                title="
                                {% for error in form.sid.errors %}
                                    <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                            <div class="">
                                {{ form.sid }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 mt-3">
                        <div class="col-md-auto">
                            <div class="">
                                ชื่อเล่น :
                            </div>
                        </div>
                        <div class="col-3" data-toggle="nick_name" data-html="true" data-placement="right"
                                title="
                                {% for error in form.nick_name.errors %}
                                    <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                            <div class="">
                                <input type="text" class="form-control input-box-reg" required name="nick_name">
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="">
                                เพศ :
                            </div>
                        </div>
                        <div class="col-5 col-sm" data-toggle="sex" data-html="true" data-placement="right"
                                title="
                                {% for error in form.sex.errors %}
                                    <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                            <div class="">
                                {{ form.sex }}
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="">
                                ศาสนา :
                            </div>
                        </div>
                        <div class="col-5 col-sm" data-toggle="religion" data-html="true" data-placement="right"
                                title="
                                {% for error in form.religion.errors %}
                                    <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                            <div class="">
                                <select id="inputState" class="form-control select" name="religion">
                                    <option value="buddha">พุทธ</option>
                                    <option value="christ">คริสต์</option>
                                    <option value="islamic">อิสลาม</option>
                                    <option value="other">อื่นๆ/ไม่ระบุ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-auto">
                            <div class="">
                                วันเกิด :
                            </div>
                        </div>
                        <div class="col-sm-3" data-toggle="birthday" data-html="true" data-placement="right"
                                title="
                                {% for error in form.birthday.errors %}
                                    <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                            <div class="">
                                <input type="date" class="form-control input-box-reg date" required name="birthday">
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="">
                                กรุ๊ปเลือด :
                            </div>
                        </div>
                        <div class="col-5 col-sm" data-toggle="blood_type" data-html="true" data-placement="right"
                                title="
                                {% for error in form.blood_type.errors %}
                                <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                            <div class="">
                                <select id="inputState" class="form-control select" name="blood_type">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="AB">AB</option>
                                    <option value="O">O</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="">
                                ไซส์เสื้อที่ใส่ :
                            </div>
                        </div>
                        <div class="col-5 col-sm" data-toggle="shirt_size" data-html="true" data-placement="right"
                                title="
                                {% for error in form.shirt_size.errors %}
                                    <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                            <div class="">
                                <select id="inputState" class="form-control select" name="shirt_size">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="XXL">XXL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-auto">
                            <div class="">
                                เบอร์โทรศัพท์ :
                            </div>
                        </div>
                        <div class="col-sm-3" data-toggle="phone" data-html="true" data-placement="right"
                                title="
                                {% for error in form.phone.errors %}
                                <div class='text-danger'>
                                    {{error}}<br/>
                                </div>
                                {% endfor %}
                                ">
                            <div class="">
                                {{ form.phone }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-auto">
                            <div class="">
                                อาหารที่แพ้ :
                            </div>
                        </div>
                        <div class="col-sm" data-toggle="food_allergy" data-html="true" data-placement="right"
                                title="
                                {% for error in form.food_allergy.errors %}
                                    <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                            <div class="">
                                <input type="text" class="form-control input-box-reg" name="food_allergy">
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="">
                                โรคประจำตัว :
                            </div>
                        </div>
                        <div class="col-sm" data-toggle="congenital_disease" data-html="true" data-placement="right"
                                title="
                                {% for error in form.congenital_disease.errors %}
                                <div class='text-danger'>
                                    {{error}}<br/>
                                    </div>
                                {% endfor %}
                            ">
                            <div class="">
                                <input type="text" class="form-control input-box-reg" name="congenital_disease">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-4">
                            <img src="../media/Group 65.png"
                                class="pic_camp m-3 rounded-circle mx-auto d-block img-responsive" id="img_profile">
                            <p class="font-weight-bold">รูปโปรไฟล์ (รูปจริง)</p>
                            <div class="input-group">
                                <span class="custom-file" data-toggle="profile_pic" data-html="true" data-placement="right"
                                title="
                                {% for error in form.profile_pic.errors %}
                                <div class='text-danger'>
                                    {{error}}<br/>
                                </div>
                                {% endfor %}">
                                    <!-- <input type="file" class="custom-file-input" id="id_profile_pic"
                                        aria-describedby="inputGroupFileAddon01"> -->
                                    {{ form.profile_pic }}
                                    <label class="custom-file-label text-left" for="id_profile_pic">Choose file</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <a onclick="nextStep()" class="btn btn-next btn-reg mt-5" id="btn_next">NEXT</a>
                <div class="row">
                    <div class="col-md-auto">
                        <a class="btn btn-next btn-reg mt-5 btn-back" onclick="backStep()" style="display: none;" id="btn_back">BACK</a>
                    </div>
                    <div class="col"></div>
                    <div class="col-md-auto">
                        <button class="btn btn-next btn-reg mt-5" type="submit" style="display: none;" id="btn_submit">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function fill() {
        document.getElementById('id_username').value = 'ongsuwannoo'
        document.getElementById('id_password1').value = 'ABCD_123456789'
        document.getElementById('id_password2').value = 'ABCD_123456789'
        document.getElementById('id_first_name').value = 'First'
        document.getElementById('id_last_name').value = 'Last'
        document.getElementById('id_email').value = 'admin@admin.com'
        document.getElementById('id_phone').value = '0824200568'
        document.getElementById('id_sid').value = '61070022'
        document.getElementsByName('nick_name')[0].value = 'ทดสอบ'
        document.getElementsByName('congenital_disease')[0].value = '-'
        document.getElementsByName('food_allergy')[0].value = '-'
    }

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        console.log(fileName)
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    $(document).ready(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    
                    $('#img_profile').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#id_profile_pic").change(function () {
            readURL(this);
        });
    });

    function nextStep() {
        document.getElementById('step1').style.display = 'none';
        document.getElementById('step2').style.display = 'grid';
        document.getElementById('btn_next').style.display = 'none';
        document.getElementById('btn_submit').style.display = 'block';
        document.getElementById('btn_back').style.display = 'block';

        {% for field in form %}
            {% if field.errors %}
                {% if field.name in nextStep %}
                    $("[data-toggle='{{ field.name }}']").tooltip('hide')
                {% else %}
                    $("[data-toggle='{{ field.name }}']").tooltip('show')
                {% endif %}
            {% endif %}
        {% endfor %}
    }

    function backStep(){
        document.getElementById('step1').style.display = 'grid';
        document.getElementById('step2').style.display = 'none';
        document.getElementById('btn_next').style.display = 'block';
        document.getElementById('btn_submit').style.display = 'none';
        document.getElementById('btn_back').style.display = 'none';
        {% for field in form %}
            {% if field.errors %}
                {% if field.name in nextStep %}
                    $("[data-toggle='{{ field.name }}']").tooltip('show')
                {% else %}
                    $("[data-toggle='{{ field.name }}']").tooltip('hide')
                {% endif %}
            {% endif %}
        {% endfor %}
    }

    {% for field in form %}
        {% if field.errors %}
            $("[data-toggle='{{ field.name }}']").tooltip({ placement: 'right', trigger: 'manual' }).tooltip('show');
            $("[data-toggle='{{ field.name }}']").on('click', function () { $(this).tooltip('destroy'); });
        {% endif %}
    {% endfor %}

</script>
{% endblock %}