{% extends "base.html" %}
{% block content %}
<style>
    .table {
        background: transparent;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
    }

    .icon {
        height: 20px;
    }

    thead {
        background-color: #222230;
    }

    .search {
        background-color: #707070 !important;
        color: white !important;
    }

    .search::placeholder {
        color: white;
        opacity: 0.5;
    }
    .del{
		color: white;
	}
	.del:hover{
		color: rgb(240, 41, 41);

	}
</style>
<div class="form-group row ml-2">
    <div class="col-xs-3">
        <input type="text" class="form-control  search" placeholder="Search" id="searchBox">
    </div>
    <div class="col-sm-auto">
        <a type="button" class="btn btn-success" href="{% url 'add_staff' id_camp %}">Add staff</a>
    </div>
    <div class="col-sm-auto">
        <a type="button" class="btn btn-primary" href="{% url 'create_staff' id_camp %}">Create staff</a>
    </div>
    <div class="col text-right">
        <a type="button" class="btn btn-secondary" href="{% url 'import_staff' id_camp %}">import file</a>
    </div>
</div>
<table class="table table-dark table-hover table-fixed" id="tbl">
    <thead class="">
        <tr class="text-center">
            <th scope="col" style="width: 7%;">รหัสนศ.</th>
            <th scope="col" style="width: 15%;">ชื่อ</th>
            <th scope="col" style="width: 6%;">ชื่อเล่น</th>
            <th scope="col" style="width: 15%;">ฝ่าย</th>
            <th scope="col" style="width: 9%;">อาหารที่แพ้</th>
            <th scope="col" style="width: 10%;">โรค/อาการแพ้</th>
            <th scope="col" style="width: 10%;">Shirt size</th>
            <th scope="col" style="width: 8%;">PS.</th>
            <th scope="col" style="width: 8%"></th>
        </tr>
    </thead>
    <tbody id="tbd">
        {% for staff in staffs %}
        <tr id="table-row" class="text-center">
            <th scope="row">{{staff.personal.sid}}</th>
            <td>{{staff.personal.first_name}} {{staff.personal.last_name}}</td>
            <td>{{staff.personal.nick_name}}</td>
            <td>{{staff.department.name}}</td>
            <td>{{staff.personal.food_allergy}}</td>
            <td>{{staff.personal.congenital_disease}}</td>
            <td>{{staff.personal.shirt_size}}</td>
            <td>{{staff.personal.postscript}}</td>
            <td>
                <span data-toggle="modal" data-target="#modal_edit" onclick="modal_edit({{ staff.id }})"
                    style="cursor:pointer;">
                    <a class="material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Edit">
                        <img src="/media/Icon awesome-edit.png" class="icon">
                    </a>
                    <!-- <input type="hidden" name="next" value="{{ department.desc }}"> -->
                </span>
                <span data-toggle="modal" data-target="#modal_view" onclick="getStaffsDetail({{ staff.id }})"
                    style="cursor:pointer;">
                    <a class="material-tooltip-main" data-toggle="tooltip" data-placement="top" title="View">
                        <img src="/media/Icon open-document.png" class="icon"></img>
                    </a>
                </span>
                <span style="cursor:pointer;">
                    <a href="{% url 'delete_staff' id_camp staff.id %}" onclick="return confirm('Are you sure you want to delete this?')" class="material-tooltip-main del" data-toggle="tooltip" data-placement="top" title="Delete">
                        {% comment %} <img src="/media/Icon open-document.png" class="icon"></img> {% endcomment %}
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- <input type="hidden" id="id_camp" value=""> -->
<script>
    var id_camp = "{{id_camp}}";
    $('#searchBox').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            axios.get('/api/search', {
                params: {
                    search: document.getElementById('searchBox').value,
                    id_camp: id_camp
                }
            })
                .then(function (response) {
                    // handle success
                    data = response.data
                    console.log(data);
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                    document.getElementById('tbd').innerHTML = '';
                    for (let i = 0; i < data.length; i++) {
                        data[i].department = data[i].department || { 'name': ' ' }
                        data[i].personal.postscript = data[i].personal.postscript || { 'name': ' ' }
                        $('#tbl > tbody:last-child').append(
                        '<tr id="table-row" class="text-center">'+
                        '<th scope="row">'+data[i].personal.sid+'</th>'+
                        '<td>'+data[i].personal.first_name+' '+data[i].personal.last_name+'</td>'+
                        '<td>'+data[i].personal.nick_name+'</td>'+
                        '<td>'+data[i].department.name+'</td>'+
                        '<td>'+data[i].personal.food_allergy+'</td>'+
                        '<td>'+data[i].personal.congenital_disease+'</td>'+
                        '<td>'+data[i].personal.shirt_size+'</td>'+
                        '<td>'+data[i].personal.postscript+'</td>'+
                        '<td>'+
                            '<span data-toggle="modal" data-target="#modal_edit" onclick="modal_edit('+data[i].id+')"'+
                                'style="cursor:pointer;">'+
                                '<a class="material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Edit">'+
                                    '<img src="/media/Icon awesome-edit.png" class="icon">'+
                                '</a>'+
                            '</span>'+
                            '<span data-toggle="modal" data-target="#modal_view" onclick="getStaffsDetail('+data[i].id+')"'+
                                'style="cursor:pointer;">'+
                                '<a class="material-tooltip-main" data-toggle="tooltip" data-placement="top" title="View">'+
                                    '<img src="/media/Icon open-document.png" class="icon"></img>'+
                                '</a>'+
                            '</span>'+
                        '</td>'+
                    '</tr>'
                    );
                    }
                });
        }
    });
</script>
{% include 'staff_modal.html' %}
{% endblock %}