{% extends "base.html" %}
{% block content %}
<style>
    .table {
        background: transparent;
    }

    .icon {
        height: 20px;
    }

    thead {
        background-color: #222230;
    }

    .search {
        background-color: #707070 !important;
        color: white !important;
    }

    .search::placeholder {
        color: white;
        opacity: 0.5;
    }
</style>
<div class="form-group row ml-2">
    <div class="col-xs-3">
        <input type="text" class="form-control  search" placeholder="Search" onkeyup="searchCamper()" id="searchBox">
    </div>
    <div class="col">
        <a type="button" class="btn btn-primary" href="{% url 'create_camper' id_camp %}">Add Camper</a>
    </div>
</div>
<table class="table table-dark table-hover">
    <thead class="">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Nick Name</th>
            <th scope="col">Food allergy</th>
            <th scope="col">Congenital Disease</th>
            <th scope="col">Group</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for camper in campers %}
            <tr id="table-row">
                <th scope="row">{{ camper.id }}</th>
                <td>{{ camper.personal.first_name }} {{camper.personal.last_name}}</td>
                <td>{{ camper.personal.nick_name }}</td>
                <td>{{ camper.personal.food_allergy }}</td>
                <td>{{ camper.personal.congenital_disease }}</td>
                <td>{{ camper.group }}</td>
                <td>
                    <a href="{% url 'edit_camper' id_camp camper.id  %}" class="material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Edit">
                        <img src="/media/Icon awesome-edit.png" class="icon">
                    </a>
                    <a href="{% url 'camper_detail' id_camp camper.id  %}" class="material-tooltip-main" data-toggle="tooltip" data-placement="top" title="View">
                        <img src="/media/Icon open-document.png" class="icon"></img>
                    </a>
                    <a href="#" class="material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Observe">
                        <img src="/media/Icon ionic-md-document.png" class="icon"></img>
                    </a>
                </td>
</tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(function () {
        $('.material-tooltip-main').tooltip({
            template: '<div class="tooltip md-tooltip-main"><div class="tooltip-arrow md-arrow"></div><div class="tooltip-inner md-inner-main"></div></div>'
        });
    })

    
        
</script>
{% endblock %}

{% comment %} {% block footer %}
Footer of Login page!!!
{% endblock %} {% endcomment %}