<div class="modal fade" id="add_flow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-reg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-reg modal-content-login-back">
            <div class="modal-body text-center p-5">
                <form method="POST" action="{% url 'addFlow' id_camp %}">
                    {% csrf_token %}
                    <p style="font-weight: bold;font-size: larger; color:var(--bg-purple);">ADD FLOW</p>
                    <div class="" style="display: grid;">
                        <div class="row">
                            <div class="col-md-auto">
                                <div class="">
                                    เวลาเริ่ม :
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <div class="">
                                    <input type="text" class="form-control input-box-reg" placeholder="เวลาเริ่ม"
                                        name="time_start">
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <div class="">
                                    เวลาจบ :
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <div class="">
                                    <input type="text" class="form-control input-box-reg" placeholder="เวลาจบ"
                                        name="time_end">
                                </div>
                            </div>
                            <div class="col-sm-auto">
                                <div class="">
                                    เวลาย่อย :
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="">
                                    <input type="text" class="form-control input-box-reg" placeholder="เวลาย่อย"
                                        name="sub_time">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 ">
                            <div class="col-md-auto">
                                <div class="">
                                    ชื่อกิจกรรม :
                                </div>
                            </div>
                            <div class="col">
                                <div class="">
                                    <input type="text" class="form-control input-box-reg" placeholder="กิจกรรม"
                                        name="activity">
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <div class="">
                                    ฝ่าย :
                                </div>
                            </div>
                            <div class="col">
                                <div class="">
                                    <select name="department" id="department" class="form-control select">
                                        <option value="0">ทุกคน</option>
                                        {% for department in departments %}
                                        <option value="{{department.id}}">{{department.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-auto">
                                <div class="">
                                    รายละเอียด :
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="">
                                    <textarea class="form-control input-box-reg" placeholder="รายละเอียด" required
                                        name="desc"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-auto">
                                <div class="">
                                    สถานที่ :
                                </div>
                            </div>
                            <div class="col-sm">
                                <select name="location" id="location" class="form-control select">
                                    <option value="0">ทั้งคณะ</option>
                                    {% for location in locations %}
                                    <option value="{{location.id}}">{{location.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-auto">
                                <div class="">
                                    ปล. :
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="">
                                    <input type="text" class="form-control input-box-reg" placeholder="ปล." name="note">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-next btn-reg mt-5" type="submit" id="btn_submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>