{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css'%}">
<style>
    .table {
        background: transparent;
        font-size: 15px !important;
    }

    .icon {
        font-size: 16px;
        height: 20px;
    }

    th,
    td {
        border: 2px solid black;
    }

    thead {
        background-color: #222230;
    }

    #submit {
        background: transparent;
        border: 0;
        color: white;
    }
    .modal-content-reg {
        margin-top: 0%;
    }
    .exampleModalCenter {
		background-color: black;
	}
</style>
{% include 'add_flow.html' %}
<div class="table-responsive-xl">
    <button class="btn btn-outline-light mb-3" id="merge">Merge</button> (beta)
    <table class="table table-dark table-hover" id="tbl">
        <thead class="text-center">
            <tr>
                <th scope="col" style="width: 10%;">เวลา</th>
                <th scope="col" style="width: 15%;">กิจกรรม</th>
                <th scope="col" style="width: 7%;">เวลาเริ่ม</th>
                <th scope="col" style="width: 22%">รายละเอียด</th>
                <th scope="col" style="width: 10%;">ฝ่าย</th>
                <th scope="col" style="width: 7%;">สถานที่</th>
                <th scope="col" style="width: 15%;">หมายเหตุ</th>
                <th scope="col" style="width: 5%;"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#add_flow">Add flow</button>
</div>

<script>
    // API ของ Flow
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHerderName = 'X-CSRFTOKEN'
    $("#submit").click(function () {
        // addFlow(1);
    });
    $(document).ready(function () {
        getFlow("{{ id_camp }}");
        window.myto
    });

    // function ที่ไว้สำหรับ merge ตาราง tbl โดยเฉพาะ
    // lenghth_col = จำนวน col
    // lenghth_row = จำนวน row
    $("#merge").click(function () {
        var lenghth_col = document.getElementById('tbl').rows[0].cells.length - 1;
        var lenghth_row = document.getElementById('tbl').rows.length - 2

        // for loop ตามจำนวน col
        for (let i = lenghth_col; i >= 0; i--) {
            var first = '', last = '';
            var row = 1;

            // each loop ตามจำนวนตาราง
            $('table > tbody > tr').each(function (index, tr) {
                last = tr.children[i];
                // รอบแรก ให้ first = last 
                if (first == '') {
                    console.log('if', first.innerHTML, last.innerHTML, index, 1)
                    first = last;
                }

                // กรณีรอบสุดท้ายของ each loop (loop แถว)
                else if (index == lenghth_row) {
                    console.log('end', first.innerHTML, last.innerHTML, index, 1)

                    // กรณีแถวสุดท้ายมีค่าซ้ำกับค่าก่อนหน้านี้
                    if (first.innerHTML == last.innerHTML) {
                        last.remove();
                        row++;
                        first.setAttribute('rowspan', row);
                    }
                }
                // กรณีแถวสุดล่าสุดมีค่าซ้ำกับค่าก่อนหน้านี้
                else if (first.innerHTML == last.innerHTML) {
                    console.log('else if', first.innerHTML, last.innerHTML, index, 1)
                    last.remove();
                    row++;
                }
                // กรณีที่ไม่ซ้ำกันแล้วให้ merge ตารางที่ซ้ำกันก่อนหน้านี้
                else {
                    console.log('else', first.innerHTML, last.innerHTML)
                    first.setAttribute('rowspan', row);
                    first = last;
                    row = 1
                }
            })
        }
    });
</script>

{% endblock %}