.modal {
    color: black;
    background-color: var(--bg-gray);
}

.modal-content-reg {
    border-radius: 30px;
    border: 1px solid #924BE7;
    background-color: rgba(146, 75, 231, 0.05);
    color: white;
    margin-top: auto;
}

.input-box-reg {
    background-color: rgba(146, 75, 231, 0);
    border: 1px solid #924BE7;
    color: white;
    /* padding-top: 10% !important; */
    padding-left: 5% !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    /* color: orchid; */
    /* font-size: 25px; */
    height: 25px;
}

.input-box-reg:focus {
    background-color: rgba(146, 75, 231, 0);
    color: white;
    /* color: orchid; */
}

input[type=password] {
    font-size: 17px;
}

.username {
    margin: 0;
    padding-top: 10px;
}

.btn-next {
    border: 1px solid #5D3794;
    background-color: #7654A7;
    color: white;
    border-radius: 25px;
    width: 130px;
    font-size: 30px;
    font-weight: bolder;
}

.btn-reg {
    padding-top: 0;
    padding-bottom: 0;
}

.btn-next:hover {
    background-color: var(--bg-purple);
    color: white;
}

.modal-reg {
    height: 40vh;
    max-width: 900px;
}

.col-form {
    padding-left: 0;
}

.col-md-auto {
    padding-right: 0;
}

.phase1 {
    /* font-family: 'THSarabunNewRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 25px !important; */
}

.date {
    padding-top: 0;
    height: 30px;
}

.select {
    background-color: rgba(93, 55, 148, 0.5);
    border: 1px solid #924BE7;
    color: white;
    /* padding-top: 10% !important; */
    padding-left: 5% !important;
    /* color: orchid; */
    /* font-size: 25px; */

    padding-top: 0;
    height: 33px;
    /* -webkit-appearance: none; */
}

.select:focus {
    background-color: #5D3794;
    color: white;
}

select option {
    background: var(--bg-purple);
    /* font-size: 15px;
    font-family: 'THSarabunNewRegular';
    font-weight: normal;
    font-style: normal; */
    border-radius: 10px;
}

.pic_camp {
    border: 1.9px solid white;
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.btn-back {
    background-color: #A78E54;
}
.btn-back:hover{
    background-color: rgb(228, 171, 38);
}

#btn_next{
    margin: auto;
}