{% extends "base.html" %}
{% block content %}
<style>
    .card {
		background-color: var(--bg-aside);
	}

	.image-camp {
		border: 1.9px solid white;
		/* margin: 2px; */
	}

	.card {
		color: white;
	}

	.camp {
		border-radius: 25px;
		border: 2px solid #707070;
	}
	.desc-camp {
		font-size: 18px;
		font-style: italic;
	}
	.ref-name {
		font-size: 11px;
		font-style: italic;
	}
</style>
<label class="label is-uppercase is-size-4" style="margin-bottom: 30px;">
	My Camp
</label>
{% for camp in camps %}
<div class="column">
    <div class="card camp">
        <div class="card-content">
            <div class="columns">
                <div class="column is-one-third">
                    <figure class="image is-128x128">
                        <img class="is-rounded image-camp" src="../media/{{ camp.logo }}">
                    </figure>
                </div>
                <div class="column">
                    <label class="label is-uppercase is-size-4 has-text-weight-bold">{{ camp.name }}</label>
                    <label class="label is-uppercase is-size-7 desc-camp">{{ camp.desc }}
                    </label>
                    <label class="label is-uppercase ref-name mt-5">Responsible person : <label
                            class="is-uppercase is-size-7" style="color: #10FF28;">{{ camp.head.first_name }}</label></label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<a type="button" class="button is-success is-rounded mt-7" href="{% url 'create_camp' %}">Add Camp</a>
{% endblock %}

{% comment %} {% block footer %}
Footer of Login page!!!
{% endblock %} {% endcomment %}