{% extends "base.html" %}
{% block content %}
<style>
	.card {
		background-color: var(--bg-aside);
	}

	.card-camp {
		background-color: var(--bg-aside);
		border-radius: 25px;
		border: 2px solid #707070;
		/* height: 194px; */
		/* width: 100%; */
		/* max-width: 60rem; */
		cursor: pointer;
	}

	.pic_camp {
		border: 1.9px solid white;
		height: 150px;
		object-fit: cover;
	}

	.pic_camp2 {
		height: 150px;
		object-fit: cover;
	}

	.card-body-camp {
		padding: 0;
	}

	.head {
		font-size: 12px;
	}

	.table {
		background: transparent;
	}

	.icon {
		height: 20px;
	}

	thead {
		background-color: #222230;
	}

	.my-custom-scrollbar {
		position: relative;
		/* ความสูงตารางฝ่าย */
		/* height: 200px; */
		overflow: auto;
	}

	.table-wrapper-scroll-y {
		display: block;
	}
	.exampleModalCenter {
		background-color: black;
	}
</style>
{% if not active_camp %}
<label class="h2 text-uppercase font-weight-bold" style="margin-bottom: 30px;">
	My Camp
</label>

{% for camp in camps %}
<div class="card mr-5 ml-5 card-camp mt-3" onclick="window.location={{ camp.id }}">
	<div class="row no-gutters">
		<div class="col-md-3">
			<img src="../media/{{ camp.logo }}" alt=""
				class="pic_camp m-3 rounded-circle mx-auto d-block img-responsive">
		</div>
		<div class="col-md-7">
			<div class="card-body m-3 card-body-camp">
				<h5 class="card-title font-weight-bold h3">{{ camp.name }}</h5>
				<em>
					<p class="card-text">{{ camp.desc }}</p>
					<p class="text-uppercase head font-weight-bold"> Responsible person :
						<a class="text-uppercase" style="color: #10FF28;">
							{{ camp.head.first_name }}
						</a>
					</p>
				</em>
			</div>
		</div>
	</div>
</div>
{% endfor %}
<a type="button" class="btn btn-outline-success mt-5" href="{% url 'create_camp' %}">Add Camp</a>
{% else %}
<label class="h2 text-uppercase font-weight-bold" style="margin-bottom: 30px;">
	Camp : <label class="text-success">{{ camp.name }}</label>
</label>
<div class="row mb-4" style="font-family: 'THSarabunNewRegular'; font-size: 27px;">
	<div class="col-4">
		<img src="../../media/{{ camp.logo }}" class="pic_camp2 m-3 mx-auto d-block img-responsive">
	</div>
	<div class="col">
		<div class="col">
			ชื่อ : {{ camp.name }}
		</div>
		<div class="col">
			รายละเอียด : {{ camp.desc }}
		</div>
		<div class="col">
			ประธานค่าย : {{ camp.head.sex }} {{ camp.head.first_name }} {{ camp.head.last_name }}
		</div>
	</div>
	<div class="col">
		<div class="col">
			<div class="col">
				วันเปิดค่าย : {{ camp.start_date }}
			</div>
			<div class="col">
				วันปิดค่าย : {{ camp.end_date }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				จำนวน Campers ที่รับ
			</div>
			<div class="card-body text-center">
				<h5 class="card-title"><label class="h2 text-success">120</label> คน</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-header">
				จำนวน Campers ที่สมัคร
			</div>
			<div class="card-body text-center">
				<h5 class="card-title"><label class="h2 text-warning">1200</label> คน</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-header">
				จำนวน Campers ที่สละสิทธิ์
			</div>
			<div class="card-body text-center">
				<h5 class="card-title"><label class="h2 text-danger">70</label> คน</h5>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-header">
				จำนวน Staffs
			</div>
			<div class="card-body text-center">
				<h5 class="card-title"><label class="h2 text-primary">300</label> คน</h5>
			</div>
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-header">
				ฝ่าย / MC ทั้งหมด
				<button type="button" class="btn btn-outline-success ml-2" data-toggle="modal" data-target="#create_dep_mc">
					เพิ่มฝ่าย / MC
				</button>
			</div>
			<div class="card-body text-center table-wrapper-scroll-y my-custom-scrollbar">
				<table class="table table-dark table-hover">
					<thead class="">
						<tr>
							<th scope="col">ชื่อ</th>
							<th scope="col">จำนวน</th>
							<th scope="col">#</th>
						</tr>
					</thead>
					<tbody>
					{% for department in departments %}
						<tr>
							<th scope="row">ฝ่าย{{department.name}}</th>
							<td>0</td>
							<td>
								<span data-toggle="modal" data-target="#modal_edit" onclick="modal_edit({{ department.id }})" style="cursor:pointer;">
									<a class="material-tooltip-main"data-toggle="tooltip" data-placement="top"
									title="Edit">
										<img src="/media/Icon awesome-edit.png" class="icon">
									</a>
									<input type="hidden" name="next" value="{{ department.desc }}">
								</span>
								<span data-toggle="modal" data-target="#modal_view" onclick="getDepartment({{ department.id }})" style="cursor:pointer;">
									<a class="material-tooltip-main" data-toggle="tooltip" data-placement="top"
										title="View">
										<img src="/media/Icon open-document.png" class="icon"></img>
									</a>
								</span>
							</td>
						</tr>
					{% endfor %}
					{% for MC in MCs %}
						<tr>
							<th scope="row">MC-{{department.name}}</th>
							<td>0</td>
							<td>
								<a href="#" class="material-tooltip-main" data-toggle="tooltip" data-placement="top"
									title="Edit" department-id="{{department.id}}">
									<img src="/media/Icon awesome-edit.png" class="icon">
								</a>
								<a href="#" class="material-tooltip-main" data-toggle="tooltip" data-placement="top"
									title="View" department-id="{{department.id}}">
									<img src="/media/Icon open-document.png" class="icon"></img>
								</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% include 'create_department_mc.html' %}
{% include 'department_modal.html' %}
{% endif %}
{% endblock %}