{% extends "base.html" %}
{% block content %}
<style>
	.card {
		background-color: var(--bg-aside);
	}
	.card-camp {
		background-color: var(--bg-aside);
		{% comment %} border-radius: 25px; {% endcomment %}
		border: 2px solid #707070;
		/* height: 194px; */
		/* width: 100%; */
		/* max-width: 60rem; */
		cursor: pointer;
	}

	.pic_camp {
		border: 1.9px solid white;
		height: 150px;
        width: 225px;
		object-fit: cover;

	}

	.card-body-camp {
		padding: 0;
	}

	.head {
		font-size: 12px;
	}
	.search {
        background-color: #707070 !important;
        color: white !important;
    }

    .search::placeholder {
        color: white;
        opacity: 0.5;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="form-group row ml-2 mr-5 ml-5 ">
    <div class="col-xs-3">
        <input type="text" class="form-control  search" placeholder="Search" onkeyup="searchCamper()" id="searchBox">
    </div>
    <div class="col">
		<a type="button" class="btn btn-success " href="{% url 'create_location' id_camp %}">Add Location</a>
    </div>
</div>
{% for location in locations %}
<div class="card mr-5 ml-5 card-camp" onclick="window.location={{ location.id }}">
	<div class="row no-gutters">
		<div class="col-md-3">
			<img src="{{ request.META.HTTP_NAME }}/media/{{ location.logo }}" alt=""
				class="pic_camp m-3  mx-auto d-block img-responsive">
		</div>
		<div class="col-md-7">
			<div class="card-body m-3 card-body-camp">
				<h5 class="card-title font-weight-bold h3">Location : {{ location.name }}</h5>
				<em>
					<p class="card-text">Description: {{ location.desc }}</p>
					<p class="text-uppercase head font-weight-bold"> Time :
						<a class="text-uppercase" style="color: #10FF28;">
                            09:00 - 12:00
						</a>
					</p>
				</em>
			</div>
		</div>
	</div>
</div>
<br>
{% endfor %}

{% endblock %}

{% comment %} {% block footer %}
Footer of Login page!!!
{% endblock %} {% endcomment %}