<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RDMS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_style.css'%}">
    <script src="{% static 'js/jquery-3.5.0.js'%}"></script>
    <script src="{% static 'js/my_js.js'%}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body>
    <div id="app">
        <section class="main-content columns is-fullheight is-marginless is-mobile">
            {% if user.is_authenticated %}
            <aside class="is-narrow-mobile is-fullheight has-text-centered is-vcentered containers" id="side_bar">
                <div style="cursor: pointer;display: block;" id="hamburger2">
                    <img src="/media/Group 65.png">
                </div>

                <div class="box-side is-one-fifth is-fullheight containers">
                    <img src="/media/Group 1.png" id="pic_side" class="image center">
                    <p id="full_name">Mr.Jakkrapat Suwannoo</p>
                    <p id="role">SUPER ADMIN</p>
                    <p class="edit_profile">Edit Profile <img src="/media/Icon awesome-edit.png" class="edit_profile_pic"></p>
                </div>
                <a href="{% url 'logout' %}">logout</a>
                <!-- <di id="hover_sidebar"> -->
                <ul class="menu-list" id="hover_sidebar">
                    <li>
                        <div href="#" class="box-side-sub word-side Aligner" id="overview">
                            OVERVIEW
                        </div>
                        <div href="#" class="box-side-sub word-side Aligner" id="campers">
                            CAMPERS
                        </div>
                        <div href="#" class="box-side-sub word-side Aligner" id="flow">
                            FLOW
                        </div>
                        <div href="#" class="box-side-sub word-side Aligner" id="locations">
                            LOCATIONS
                        </div>
                        <div href="#" class="box-side-sub word-side Aligner" id="staffs">
                            STAFFS
                        </div>
                    </li>
                </ul>
                <div class="box-side-hide word-side Aligner">
                    <label style="cursor: pointer;" id="hide_sidebar_btn">
                        <img src="/media/Icon awesome-angle-left.png" style="margin-right: 5px;" id="icon_hide"> HIDE
                    </label>
                </div>
            </aside>
            {% else %}

            <aside class="is-narrow-mobile is-fullheight has-text-centered is-vcentered containers" id="side_bar_login">
                <a href="{% url 'index' %}"><img src="/media/logo.png" id="logo_sidebar_login" class="image center"></a>
                <p id="name_side_login">Role and Duty Management System</p>
                <a href="{% url 'login' %}" class="center button is-rounded word-side btn-login" id="btnLogin">
                    LOGIN
                </a>

                <a href="{% url 'register' %}" class="center button is-rounded word-side btn-login" id="btnRegister">
                    REGISTER
                </a>
            </aside>

            {% endif %}

            <div style="cursor: pointer;display: block;" id="hamburger1" class="is-fullheight">
                <img src="/media/Group 65.png">
            </div>

            <div class="container column">
                <div class="section">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </section>

        <!-- <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    {% block footer %} {% endblock %}
                </div>
            </div>
        </footer> -->
    </div>
</body>

</html>
<script>
    $(document).ready(function() {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>