<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RDMS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_style.css'%}">
    <script src="{% static 'js/jquery-3.5.0.js'%}"></script>
    <script src="{% static 'js/my_js.js'%}"></script>


</head>
<style>
    html,
    body,
    #app {
        height: 100%;
        font-family: 'Noto Sans', sans-serif;
        background-color: #1C202B;
    }
    
    #app {
        min-height: 100%;
        /* display: flex; */
        /* flex-direction: column; */
    }
    
    .main-content {
        /* flex: 1; */
    }
    
    .footer {
        margin-top: -12px;
    }
    
    @media screen and (max-width: 768px) {
        #menu-toggle:checked+.nav-menu {
            display: block;
        }
    }
</style>

<body>
    <div id="app">
        <section class="main-content columns is-fullheight is-marginless">
            <aside class="is-narrow-mobile is-fullheight is-hidden-mobile has-text-centered is-vcentered">
                <div class="box-side is-one-fifth">
                    <img src="/media/Group 1.png" id="pic_side" class="image center">
                    <p id="full_name">Mr.Jakkrapat Suwannoo</p>
                    <p id="role">SUPER ADMIN</p>
                    <p class="edit_profile">Edit Profile <img src="/media/Icon awesome-edit.png" class="edit_profile_pic"></p>
                </div>
                <div id="hover_sidebar">
                    <div class="box-side-sub is-one-fifth Aligner">
                        <p class="Aligner-item word-side">OVERVIEW</p>
                    </div>
                    <div class="box-side-sub is-one-fifth Aligner">
                        <p class="Aligner-item word-side">CAMPERS</p>
                    </div>
                    <div class="box-side-sub is-one-fifth Aligner">
                        <p class="Aligner-item word-side">FLOW</p>
                    </div>
                    <div class="box-side-sub is-one-fifth Aligner">
                        <p class="Aligner-item word-side">LOCATIONS</p>
                    </div>
                    <div class="box-side-sub is-one-fifth Aligner">
                        <p class="Aligner-item word-side">STAFFS</p>
                    </div>
                </div>

            </aside>

            <div class="container column ">
                <div class="section">
                    {% block content %} {% endblock %}

                    <div class="card is-hidden1">
                        <div class="card-header">
                            <p class="card-header-title">Header</p>
                        </div>
                        <div class="card-content">
                            <div class="content">Content</div>
                        </div>
                    </div>
                    <br />

                    <div class="card is-hidden1">
                        <div class="card-header">
                            <p class="card-header-title">Header</p>
                        </div>
                        <div class="card-content">
                            <div class="content">Content</div>
                        </div>
                    </div>
                    <br />

                </div>
            </div>

        </section>

        <!-- <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    {% block footer %} {% endblock %}
                </div>
            </div>
        </footer> -->
    </div>
</body>

</html>
<script>
    $(document).ready(function() {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>